/* Main Navbar Styling */
nav {
    background-color: #031e62;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 6px 0; /* Top and bottom padding for navbar content */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    position: relative; /* Needed for positioning the dropdown */
}

nav a, .dropdown-button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover, .dropdown-button:hover {
    background-color: #031a54;
}

/* Dropdown Menu Styling */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #031a54;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Position below the dropdown button */
    left: 0;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Ensure the content goes underneath the navbar */
body {
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    display: block;
    height: 50px; /* Adjust this value based on the height of your navbar */
}
